
.header{
    padding: 8px;
    display: flex;
    font-size: 1.25rem;
   
    .logo{
        color:gold;
        
    }

    .home-link{
        margin-left: auto;
        text-decoration: underline;
        cursor: pointer;
    }
    
}